---
layout: default
---

<!--<iframe style="pointer-events: none; top:0px; left:0px; position: fixed; z-index: -99; height: calc(100%);animation-name: fadein; opacity:0.7;animation-duration: 5s;animation-timing-function: ease-in;filter: blur(20px);transform: scale(1.5);" width="100%" height="100%" src="/s.mp4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>-->

<video playsinline="" autoplay="true" loop="true" muted="true" style="pointer-events: none; top:0px; left:0px; position: fixed; z-index: -99; height: calc(100%);animation-name: fadein; opacity:0.7;animation-duration: 5s;animation-timing-function: ease-in;filter: blur(20px);transform: scale(1.5);"><source src="/s.mp4" type="video/mp4"><source src="" type="video/webm"></video>


<!-- HERO BANNER -->
<div id="hero-text">opacity:0.7;
    <div id="typed-strings">
        <p>Continual growth means adapting</p>
        <p>Continual growth means improving</p>
        <p>Continual growth means never fearing change</p>
    </div>
    <span id="typed"></span>
</div>

<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
<script>
    var typed = new Typed("#typed", 
    {
        stringsElement: '#typed-strings',
        typeSpeed: 50,
        smartBackspace: true,
        fadeOut: false,
        backSpeed: 40,
        backDelay: 1500,
        showCursor: false,
    });
</script>

<div id="scroll-icon">
    <svg class="arrows" style="width:60px;height:20px;transform:scale(0.6);">
        <path class="a1" d="M0 0 L30 18 L60 0" style="stroke:#fff;fill:transparent;stroke-width:2px;"></path>
    </svg>
</div>

<div id="home-content">

{% include about.html %}

{% include process.html %}

{% include tools.html %}

<div>
<!--    Call to action -->
    <a href="../" class="cta-link cta-big">Get in touch</a>
</div>
</div>