<!-- ABOUT US -->

<div id="who-we-are">
    <p>George Urvari &amp; Peter Guinane built a highly successful multimillion-dollar marque brand landscape business in Canada’s largest city, Toronto. Leveraging their knowledge, systems, & process, Knowledge Tree Consulting guides companies away from pitfalls and towards accelerated success. Reduce waste, risk, and stress by learning and adopting best practices.
</p>
</div>
<div id="about-container">    
    <picture class="about-left">
        <source srcset="/images/george.webp" type="image/webp">
        <source srcset="/images/george.jpeg" type="image/jpeg"> 
        <img src="/images/george.jpeg" alt="Photograph of George Urvari" class="about-left">
    </picture>
    <h3 class="about-left">George Urvari</h3>
    <p class="about-left">As a co-founder of Oriole Landscaping, George has grown Oriole for over 30 years. He has a natural business acumen which helped to drive the development of the company from a small service venture into a multimillion-dollar business. George is also a regular speaker, teacher and consultant for the landscape industry. Most recently, he has been travelling across the US, coaching other companies and helping them implement budgeting, estimating and planning software. He is a former President of the Toronto Chapter of Landscape Ontario.<a class="cta-link" href="https://knowledgetreeconsulting.ca/contact/">Get in touch</a></p>
    
    <picture class="about-right">
        <source srcset="/images/peter.webp" type="image/webp">
        <source srcset="/images/peter.jpeg" type="image/jpeg"> 
        <img src="/images/peter.jpeg" alt="Photograph of Peter Guinane" class="about-right">
    </picture>
    <h3 class="about-right">Peter Guinane</h3>
    <p class="about-right">Peter co-founded Oriole Landscaping in 1986 with his business partner, George Urvari, to put themselves through university. Since then, Peter has built an award-winning firm offering landscape design, construction, and project management. He is an active and supportive member of the green industry, previously holding the position of Chair of Canada Blooms, Chair of the Contractor Sector group, Vice-Chair of the Landscape Canada Committee with the Canadian Nursery and Landscape Association, and is currently on the Board for Landscape Ontario.<a id="a" class="cta-link" href="https://knowledgetreeconsulting.ca/contact/">Get in touch</a></p>
</div>

<!-- TESTEMONIALS -->
<div id="testemonial" style="max-width: 800px; width: 95%; height: 360px;">
    <div id="quote-0" class="quote quote-selected">
        <h3>&ldquo;You opened up our mind, so we stopped being limited by our own company. I look forward to seeing us progress every 6 months.&rdquo;</h3>
        <p class="quote-by">—  Andras Ivanka, <a style="color:#fff" href="https://ivankaconcrete.com/">Ivanka Concrete</a></p>
    </div>
    
    <div id="quote-1" class="quote quote-unselected">
        <h3>&ldquo;George's guidance has helped us grow over 300%, while making our business run more smoothly.&rdquo;</h3>
        <p class="quote-by">— Sam Bauman, <a style="color:#fff" href="http://www.earthscape.ca/">Earthscape</a></p>
    </div>
    
    <div id="quote-2" class="quote quote-unselected">
        <h3>&ldquo;We became way better leaders, and our team is a lot more motivated, seeing clear goals.&rdquo;</h3>
        <p class="quote-by">—  Andras Ivanka, <a style="color:#fff" href="https://ivankaconcrete.com/">Ivanka Concrete</a></p>
    </div>
    
    <div id="quote-3" class="quote quote-unselected">
        <h3>&ldquo;I personally have worked less hours every year over the past 4 years, and this has been in part due to George's business advice.&rdquo;</h3>
        <p class="quote-by">— Sam Bauman, <a style="color:#fff" href="http://www.earthscape.ca/">Earthscape</a></p>
    </div>
    
    <div id="quote-4" class="quote quote-unselected">
        <h3>&ldquo;After your consulting session, we have a deeper understanding of our own management and owners involvment.&rdquo;</h3>
        <p class="quote-by">—  Andras Ivanka, <a style="color:#fff" href="https://ivankaconcrete.com/">Ivanka Concrete</a></p>
    </div>
    
    <div id="quote-5" class="quote quote-unselected">
        <h3>&ldquo;We were very pleased with Knowledge Tree Consulting. George was very attentive and listened to our concerns.&rdquo;</h3>
        <p class="quote-by">— Claudia Baun, <a style="color:#fff" href="http://www.bkbaun.com/">B.K.Baun Landscape ltd.</a></p>
    </div>
</div>

<p><a id="a" class="cta-link" style="margin: 0 auto;" href="https://knowledgetreeconsulting.ca/testimonials/">See full testimonials</a></p>

<script>
    var current = 0;
    var total = 6;

    function changeQuote()
    {
        var cur = document.getElementById("quote-" + current);
        cur.className = "quote quote-unselected";
        current = (current + 1) % total;
        var next = document.getElementById("quote-" + current);
        next.className = "quote quote-selected";
    }

    var repeat = setInterval(changeQuote, 8000);

</script>
