<!-- ABOUT US -->
<div id="about-container">    
    <picture class="about-left">
        <source srcset="/images/george.webp" type="image/webp">
        <source srcset="/images/george.jpeg" type="image/jpeg"> 
        <img src="/images/george.jpeg" alt="Photograph of George Urvari" class="about-left">
    </picture>
    <h3 class="about-left">George Urvari</h3>
    <p class="about-left">As a co-founder of Oriole Landscaping, George has grown Oriole for over 30 years. He has a natural business acumen which helped to drive the development of the company from a small service venture to a into a multimillion-dollar buisness. George is also a regular speaker, teacher and consultant for the landscape industry. Most recently, he has been travelling across the US, coaching other companies and helping them implement budgeting, estimating and planning software. He is a former President of the Toronto Chapter of Landscape Ontario.<a class="cta-link" href="https://knowledgetreeconsulting.ca/contact/">Get in touch</a></p>
    
    <picture class="about-right">
        <source srcset="/images/peter.webp" type="image/webp">
        <source srcset="/images/peter.jpeg" type="image/jpeg"> 
        <img src="/images/peter.jpeg" alt="Photograph of Peter Guinane" class="about-right">
    </picture>
    <h3 class="about-right">Peter Guinane</h3>
    <p class="about-right">Peter co-founded Oriole Landscaping in 1986 with his business partner, George Urvari, to put themselves through university. Since then, Peter has built an award-winning firm offering landscape design, construction, and project management. He is an active and supportive member of the green industry, previously holding the position of Chair of Canada Blooms, Chair of the Contractor Sector group, Vice Chair of the Landscape Canada Committee with the Canadian Nursery and Landscape Association, and is currently on the Board for Landscape Ontario.<a id="a" class="cta-link" href="https://knowledgetreeconsulting.ca/contact/">Get in touch</a></p>
</div>

<!-- TESTEMONIALS -->
<div id="testemonial">
    <div id="quote-0" class="quote quote-selected">
        <h3>&ldquo;They are very good.&rdquo;</h3>
        <p class="quote-by">— Jack Guinane</p>
    </div>

    <div id="quote-1" class="quote quote-unselected">
        <h3>&ldquo;Wow.&rdquo;</h3>
        <p class="quote-by">— Barack Obama</p>
    </div>

    <div id="quote-2" class="quote quote-unselected">
        <h3>&ldquo;Fantastic!&rdquo;</h3>
        <p class="quote-by">— John Smith</p>
    </div>
</div>

<script>
    var current = 0;
    var total = 3;

    function changeQuote()
    {
        var cur = document.getElementById("quote-" + current);
        cur.className = "quote quote-unselected";
        current = (current + 1) % total;
        var next = document.getElementById("quote-" + current);
        next.className = "quote quote-selected";
    }

    var repeat = setInterval(changeQuote, 7000);

</script>
