<footer>
    <div class="footer-col">
        <img src="/assets/KnowledgeTree.png">
    </div>
    
    <div class="footer-col">
        <h4>Contact</h4>
        <a>Get In Touch</a>
        <a>+647-444-1604</a>
        <a>peter@oriolelandscaping.com</a>
    </div>
    
    <div class="footer-col">
        <h4>Who we are</h4>
        <a>About Us</a>
        <a>Testimonials</a>
    </div>
    
    <div class="footer-col">
        <h4>What we do</h4>
        <a>The 5 Branches</a>
        <a>The Tools</a>
        <a>See All Blog Posts</a>
    </div>
    
    <div class="footer-col">
        <h4>Memebers</h4>
        <a>Coming Soon</a>
        <a>Get In Touch</a>
    </div>
    
    <div class="footer-col">
        <h4>Site</h4>
        <a href="http://guinane.xyz">Designed and developed<br>by Jack Guinane</a>
        <a>Sitemap</a>
    </div>
</footer>

<div style="width: calc(100%-120px); background-color: #1b1919; padding: 0px 60px 60px 60px; color: #fff; margin: 0;">
    <p id="legal" style="margin: 0;">&copy; Knowledge Tree Consulting 2019</p>
</div>