
<div id="ktc-hero-2">
	<h2>There’s a map to the maze of business.</h2>
	<p id="about-us">Building and running a successful business for over 35 years, we have built the processes and found the answers you are looking for.</p>
</div>

<style>
	#ktc-hero-2
	{
		margin: 100px 7%;
	}

	#ktc-hero-2 p
	{
		font-family: 'hero';
		text-align: left;
		line-height: 1.5;
		margin: 50px 0;
		max-width: 700px;
		font-size: 1.1rem;
	}

	#ktc-hero-2 h2
	{
		font-size: 120px;
		font-family: "body";
		letter-spacing: -0.05em;
		font-weight: normal;
		line-height: 1;
		text-align: left;
		margin: 0;
		max-width: 860px;
		opacity: 0.9;
	}

	@media screen and (max-width: 860px)
	{
		#ktc-hero-2 h2
		{
			font-size: 14vw;
		}
	}
</style>


<!-- <div id="ktc-hero">
    <h2>Take the business health survey</h2>
    <ol>
        <li>Identify your business problems</li>
        <li>Prioritize your plan of action</li>
        <li>Download your report</li>
    </ol>
    <a href="https://knowledgetreeconsulting.ca/survey.html">Go to survey</a>
</div> -->

<!-- <div id="hero-text">
    <div id="typed-strings">
        <p>Continual growth means adapting</p>
        <p>Continual growth means improving</p>
        <p>Continual growth means never fearing change</p>
    </div>
    <span id="typed"></span>
</div>

<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
<script>
    var typed = new Typed("#typed", 
    {
        stringsElement: '#typed-strings',
        typeSpeed: 50,
        smartBackspace: true,
        fadeOut: false,
        backSpeed: 40,
        backDelay: 1500,
        showCursor: false,
    });
</script>
<div id="scroll-icon">
    <svg class="arrows" style="width:60px;height:20px;transform:scale(0.6);">
        <path class="a1" d="M0 0 L30 18 L60 0" style="stroke:#fff;fill:transparent;stroke-width:2px;"></path>
    </svg>
</div> -->