
<div id="ktc-hero-2">
	<h2>There’s a map to the maze of business.</h2>
	<p id="about-us">Building and running a successful business for over 35 years, we have built the processes and found the answers you are looking for.</p>
</div>

<style>
	#ktc-hero-2
	{
		margin: 150px 7%;
	}

	#ktc-hero-2 p
	{
		font-family: 'hero';
		text-align: left;
		line-height: 1.5;
		margin: 50px 0;
		max-width: 700px;
		font-size: 1.1rem;
	}

	#ktc-hero-2 h2
	{
		font-size: 90px;
		font-family: "body";
		letter-spacing: -0.05em;
		font-weight: normal;
		line-height: 1;
		text-align: left;
		margin: 0;
		max-width: 860px;
		opacity: 0.9;
	}

	@media screen and (max-width: 740px)
	{
		#ktc-hero-2
		{
			margin: 100px 7%;
		}

		#ktc-hero-2 h2
		{
			font-size: 12vw;
		}
	}
</style>