   
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-WXTDDLTBYG"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-WXTDDLTBYG');
	</script>
	<meta charset="utf-8" />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no'>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <link rel="canonical" href="https://knowledgetreeconsulting.ca/" />
    <meta property="og:url" content="https://knowledgetreeconsulting.ca/" />
    <meta name="author" content="Jack Guinane" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel="icon" href="https://knowledgetreeconsulting.ca/favicon.png" type="image/png" />
    <link id="favicon" rel="shortcut icon" type="image/png" href="https://knowledgetreeconsulting.ca/favicon.png">
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Knowledge Tree Consulting" />
    <meta name="superfish" content="nofish">
    <meta name="theme-color" content="#000000">
    

    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html }}" />
    <meta property="og:description" content="{{ page.excerpt| strip_html }}" />
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}" />
    {% endif %}
    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {% endif %}
    {% if page.image %}
    <meta property="og:type" content="article" />
    <meta name="twitter:image" content="https://knowledgetreeconsulting.ca{{ page.image }}" />
    <meta property="og:image" content="https://knowledgetreeconsulting.ca{{ page.image }}" />
    {% endif %}
