<!-- NAVIGATION BAR -->
<header id="nav">
    <button onclick="menu()">
        <i id="menu-bttn" class="material-icons">
            menu
        </i>
    </button>
    <a href="https://knowledgetreeconsulting.ca/#about-container">Who We Are</a>
    <a href="https://knowledgetreeconsulting.ca/#process">The Process</a>
    <a href="https://knowledgetreeconsulting.ca/#tool">The Tools</a>
    <div onclick="window.location = 'https://knowledgetreeconsulting.ca';" class="logo">
        <img src="/assets/KnowledgeTree.png">
    </div>
    <a href="index.html">Blog</a>
    <a href="index.html">Members</a>
    <a href="index.html">Contact</a>
</header>

<div id="menu">
    <a href="https://knowledgetreeconsulting.ca/#about-container" onclick="menu()">Who We Are</a>
    <a href="https://knowledgetreeconsulting.ca/#process" onclick="menu()">The Process</a>
    <a href="https://knowledgetreeconsulting.ca/#about-container" onclick="menu()">The Tools</a>
    <a href="https://knowledgetreeconsulting.ca/#about-container" onclick="menu()">Blog</a>
    <a href="https://knowledgetreeconsulting.ca/#about-container" onclick="menu()">Members</a>
    <a href="https://knowledgetreeconsulting.ca/#about-container" onclick="menu()">Contact</a>
</div>

<script>
    function menu()
    {
        var bttn = document.getElementById("menu-bttn");
        var mnu = document.getElementById("menu");

        if (bttn.innerHTML.indexOf("menu") !== -1)
        {
            bttn.innerHTML = "close";
            mnu.style.display = "block";
        }
        else
        {
            bttn.innerHTML = "menu";
            mnu.style.display = "none";
        }
    }
</script>