<!-- NAVIGATION BAR -->
<header id="nav">
    <button onclick="menu()">
        <i id="menu-bttn" class="material-icons">
            menu
        </i>
    </button>
    <a href="https://knowledgetreeconsulting.ca/test/#who-we-are">Who We Are</a>
    <a href="https://knowledgetreeconsulting.ca/test/#process">The Process</a>
    <a href="https://knowledgetreeconsulting.ca/test/#tool">The Tools</a>
    <div onclick="window.location = 'https://knowledgetreeconsulting.ca';" class="logo">
        <img src="/assets/KnowledgeTree.png">
    </div>
    <a href="https://knowledgetreeconsulting.ca/blog/">Blog</a>
    <a href="https://knowledgetreeconsulting.ca/members/">Members</a>
    <a href="https://knowledgetreeconsulting.ca/contact/">Contact</a>
</header>

<div id="menu">
    <a href="https://knowledgetreeconsulting.ca/test/#who-we-are" onclick="menu()">Who We Are</a>
    <a href="https://knowledgetreeconsulting.ca/test/#process" onclick="menu()">The Process</a>
    <a href="https://knowledgetreeconsulting.ca/test/#tool" onclick="menu()">The Tools</a>
    <a href="https://knowledgetreeconsulting.ca/blog/" onclick="menu()">Blog</a>
    <a href="https://knowledgetreeconsulting.ca/members/" onclick="menu()">Members</a>
    <a href="https://knowledgetreeconsulting.ca/contact/" onclick="menu()">Contact</a>
</div>

<script>
    function menu()
    {
        var bttn = document.getElementById("menu-bttn");
        var mnu = document.getElementById("menu");

        if (bttn.innerHTML.indexOf("menu") !== -1)
        {
            bttn.innerHTML = "close";
            mnu.style.display = "block";
        }
        else
        {
            bttn.innerHTML = "menu";
            mnu.style.display = "none";
        }
    }
</script>