<div id="process" class="divider"></div>
<div id="process-container">
    <div id="process-title">
        <h3>The 6 Branches</h3>
        <p>Success = 6 healthy branches of your business. Our guidance focuses-in on each of these branches, making sure they are functioning efficiently. Our approach will help you create a less-stressful, turn-key business.</p>
    </div>

    <div id="process-1" class="process-card">
        <i class="material-icons">multiline_chart</i>
        <h4>Economics</h4>
        <p>Learn pricing strategy, asset management, and develop your risk management strategy. Manage MONEY within budgets to ensure yearly profits while mitigating legal &amp; liability considerations.</p>
    </div>

    <div id="process-2" class="process-card">
        <i class="material-icons">people</i>
        <h4>HR</h4>
        <p>Determine the best hiring practices to create superior teams of people, limit staff turnover, and decide who needs to be let go. Establish optimal CORPORATE CULTURE to develop harmony in your company.</p>
    </div>

    <div id="process-3" class="process-card">
        <i class="material-icons">group_work</i>
        <h4>Operations</h4>
		<p>Employing PEOPLE, EQUIPMENT, SUBCONTRACORS &amp; MATERIALS to consistently get projects done in the least amount of time, with zero defects. This means using Kai Zen to optimize crew assignments, scheduling, job packages, project Startup and closeout, etc.</p>
    </div>

    <div id="process-4" class="process-card">
        <i class="material-icons">computer</i>
        <h4>Technology</h4>
        <p>Implement the best SYSTEMS &amp; SOFTWARE PROCEDURES (leverage LMN for your budget, CRM, estimating, QuickBooks, &amp; design software) to guarantee the effective transfer of information with the least number of steps.</p>
    </div>

    <div id="process-5" class="process-card">
        <i class="material-icons">new_releases</i>
        <h4>Sales</h4>
		<p>Develop, review, &amp; improve your marketing plan and website. The goal of <em>Sales</em> is to create the perfect balance between OPTIMAL CLIENTS &amp; WORKFLOW to maximize predictable profits and sustainable growth.</p>
	</div>
	
	<div id="process-6" class="process-card">
        <i class="material-icons">record_voice_over</i>
        <h4>Leadership</h4>
        <p>Find the right mentors to develop the best leadership practices. Develop the thinking processes to maximize your self-regulating ability. Then consistently drive the RIGHT DECISIONS to improve and grow your business, leadership and staff.</p>
    </div>

</div>
