<div id="process" class="divider"></div>
<div id="process-container">
    <div id="process-title">
        <h3>The 5 Branches</h3>
        <p>A sucsessful buisness is built on top of five pillars. Our guidance focuses in on each of these branches, making sure they are functioning efficiently. Our approach will help you create a less-stressful turn-key business.</p>
    </div>

    <div id="process-1" class="process-card">
        <i class="material-icons">multiline_chart</i>
        <h4>Economics</h4>
        <p>Learn Pricing Strategy, Human Capital, Infrastructure Determination, Equipment Determination, Risk Management Exposure.</p>
    </div>

    <div id="process-2" class="process-card">
        <i class="material-icons">people</i>
        <h4>HR</h4>
        <p>Determine what skill sets to look for, what to do to recruit, how to limit staff turnover, and determine who needs to be let go.</p>
    </div>

    <div id="process-3" class="process-card">
        <i class="material-icons">group_work</i>
        <h4>Operations</h4>
        <p>Optimize Crew Assignments, Scheduling, Forecasting, Paperwork, Job Packages, Value Engineering, Project Startup and Closeout.</p>
    </div>

    <div id="process-4" class="process-card">
        <i class="material-icons">computer</i>
        <h4>Technology</h4>
        <p>Leverage LMN for Budget, CRM, Estimating, QuickBooks, &amp; design software (Vectorworks, Dynascape, Revit, Sketchup, AutoCAD).</p>
    </div>

    <div id="process-5" class="process-card">
        <i class="material-icons">new_releases</i>
        <h4>Sales</h4>
        <p> Develop, Review, &amp; or Improve Marketing Plan, Website, Social Media. Pursue the best jobs and close sales to benefit the company.</p>
    </div>

</div>