<div id="process" class="divider"></div>
<div id="process-container">
    <div id="process-title">
        <h3>The 5 Branches</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
    </div>

    <div id="process-1" class="process-card">
        <i class="material-icons">multiline_chart</i>
        <h4>Economics</h4>
        <p>Financial Analyses of the Numbers, The Law, &amp; Insurance</p>
        <ol>
            <li>Company Budget – Sales Goal – Expenses = Pricing Strategy</li>
            <li>Human Capital, Who, What, &amp; How much</li>
            <li>Infrastructure Determination</li>
            <li>Equipment Determination</li>
            <li>Risk Management Exposure – Legal &amp; Insurance</li>
        </ol>
    </div>

    <div id="process-2" class="process-card">
        <i class="material-icons">people</i>
        <h4>HR</h4>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

    <div id="process-3" class="process-card">
        <i class="material-icons">group_work</i>
        <h4>Operations</h4>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

    <div id="process-4" class="process-card">
        <i class="material-icons">computer</i>
        <h4>Technology</h4>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

    <div id="process-5" class="process-card">
        <i class="material-icons">new_releases</i>
        <h4>Sales</h4>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

</div>