
<div id="tool" class="divider" style="transform: rotate(180deg);"></div>


<div id="tools">
    <div id="tool-text">
        <h4 >Landscape Manegment Network</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
    </div>
    <picture class="screenshot">
        
        <source srcset="../images/lmn.webp" type="image/webp">
        <source srcset="../images/lmn.png" type="image/png"> 
        <img  class="screenshot" style="max-height:500px;" alt="Screenshot of LMN software" src="../images/lmn.png">
    </picture>
</div>