
<div id="tool" class="divider" style="transform: rotate(180deg);"></div>


<div id="tools">
    <div id="tool-text">
        <h4>Landscape Manegment Network</h4>
        <p>George and Peter are experts in using Landscape Management Software and can help you save thousands of hours perfecting its use.</p>
    </div>
    <picture class="screenshot">
        
        <source srcset="../images/lmn.webp" type="image/webp">
        <source srcset="../images/lmn.png" type="image/png"> 
        <img  class="screenshot" style="max-height:500px;" alt="Screenshot of LMN software" src="../images/lmn.png">
    </picture>
</div>