<!DOCTYPE html>
<html>
    <head>
        {% include meta.html %}
        
        <title>{{ page.error }} - {{ page.message }}</title>
    </head>

<!--
####################################################################

    __ __     ._    ,  |_ 
    ||_/   `-.  \.  \ /  |/_
    || \\,  ||  _\, y |\//
             \\, \\/-.//        Knowledge Tree Consulting
             ||._||.//_,
           `-.\.//|_/                  -–—***—–-
              | |//
             /_//                Website by Jack Guinane
            / /                   (https://guinane.xyz)
           /=/     ____,
          / |     ' || 
        /, .\       ||


####################################################################
-->

<!--
    <body>
        {% include nav.html %}
        <h1 style="font-size: 13rem;font-family: var(--apercu);">{{ page.error }}</h1>
        <p style="margin-top: -120px;font-size: 2rem;font-family: var(--lydian); font-weight: bold;">{{ page.message }}</p>
        <p style="font-size: 1.3rem; font-family: var(--lydian);"><a href="https://spotted.site" style="color: var(--dark-green);">Go Home</a></p>
    </body>
-->
</html>
