<!DOCTYPE html>
<html>
    <head>
        {% include meta.html %}
        
        <title>{{ page.error }} - {{ page.message }}</title>
    </head>

<!--
####################################################################

    __ __     ._    ,  |_ 
    ||_/   `-.  \.  \ /  |/_
    || \\,  ||  _\, y |\//
             \\, \\/-.//        Knowledge Tree Consulting
             ||._||.//_,
           `-.\.//|_/                  -–—***—–-
              | |//
             /_//                Website by Jack Guinane
            / /                   (https://guinane.xyz)
           /=/     ____,
          / |     ' || 
        /, .\       ||


####################################################################
-->

    <body>
        {% include nav.html %}
        
        <h4 style="font-size: 4rem; text-align: center; margin-top: 200px;">{{ page.error }}</h4>
        <h3>{{ page.message }}</h3>
        <p style="padding-bottom: 100px;"><a href="https://knowledgetreeconsulting.ca" style="color:#fff;">Go Home</a></p>
    </body>
</html>
